---
import Starfield from "@components/starfield.astro";
---
<html>
    <head></head>
    <body>
        <div>
            <Starfield />
            <div class="relative flex flex-row h-full text-white content-center text-right justify-around font-extrabold text-6xl">
                Hello
                <br /> My name is
                <br /> Gabriel Leclerc
                <h1>asdf</h1>
            </div>
        </div>
    </body>
</html>