---
import Starfield from "@components/starfield.astro";
import Hero from "@components/hero.astro";
import Nav from "@components/nav.astro";
---
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <Starfield />
            <Hero />
            <Nav />
        </div>
    </body>
</html>
